/* common */
body {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clearfix::after {
    content: "";
	display: block;
	clear: both;
}

.nomargin {
    margin: 0;
}

.bold {
    font-weight: 700;
}

.noImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}

.noImage::after {
    content: "no image";
    color: gray;
}

/* header */
#header {
    text-decoration: none;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    color: black;
    font-size: 22pt;
    font-weight: 700;
}

.header-description {
    font-size: 11pt;
    color: #555;
}

#wrapper {
    padding: 20px;
    width: 90%;
    max-width: 1000px;
}

@media(max-width: 700px) {
#header {
    height: 60px;
}

.header-title {
    font-size: 16pt;
}

.header-description {
    font-size: 9pt;
    color: #555;
}
.noImage::after {
    font-size: 9pt;
}

}
