#recipeListContainer {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.recipe {
    box-sizing: border-box;
    width: 33.3%;
    margin-bottom: 30px;
    padding: 5px;
    transition: all ease-in-out 0.1s;
}

.recipe:hover {
    opacity: 0.8;
}

.recipe-thumbnailWrapper {
    overflow: hidden;
}

.recipe-thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition: all ease-in-out 0.1s;
}

.recipe-thumbnail:hover {
    transform: scale(1.05);
}

.recipe-withoutThumbnail {
    width: 100%;
    height: 160px;
    background-color: #ccc;
}

.recipe-name {
    color: #333;
    font-size: 13pt;
    font-weight: 700;
}

.recipe-shortDescription {
    color: #333;
    font-size: 10pt;
}

@media (max-width: 700px) {
    #recipeListContainer {
        flex-direction: column;
        align-items: center;
    }

    .recipe {
        width: 85%;
    }

    .recipe-thumbnail {
        height: 260px;
    }

    .recipe-withoutThumbnail {
        height: 260px;
    }
}