<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <h1 th:text="${test}"></h1>
    <div th:each="recipe : ${recipes}">

    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>short description</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}"></td>
            <td th:text="${recipe.name}"></td>
            <td th:text="${recipe.shortDescription}"></td>
        </tr>
    </table>
</body>
<style>
table {
    border: 1px solid #000;
}

th {
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
}
</style>
</html>