<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head_tag(おいしく健康に, ~{::link})">
    <link rel="stylesheet" th:href="@{/css/recipe_list.css}">
    <meta charset="UTF-8" />
</head>
<body>
    <div id="wrapper">
        <div th:replace="base::header"></div>
    
        <div id="recipeListContainer">
            <a th:each="recipe : ${page.toList()}" class="recipe" th:href="@{/recipe/{id}(id=${recipe.id})}">
                <div>
                    <div class="recipe-thumbnailWrapper">
                        <img th:if="${recipe.thumbnail != null}" th:src="${recipe.thumbnail.url}" class="recipe-thumbnail">
                        <div th:if="${recipe.thumbnail == null}" class="recipe-withoutThumbnail"></div>
                    </div>
                    <div th:text="${recipe.name}" class="recipe-name"></div>
                    <div th:text="${recipe.shortDescription}" class="recipe-shortDescription"></div>
                </div>
            </a>
        </div>

        <div class="paginationWrapper">
            <div class="paginationWrapperInner">
                <span class="paginationElement">
                    <a th:if="${page.hasPrevious()}" th:href="@{'/recipe?page=' + ${page.previousPageable().getPageNumber()}}">＜</a>
                </span>
                <span class="paginationElement" th:text="${(page.getNumber() + 1) + '/' + page.getTotalPages()}"></span>
                <span class="paginationElement">
                    <a th:if="${page.hasNext()}" th:href="@{'/recipe?page=' + ${page.nextPageable().getPageNumber()}}">＞</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>